header {
    background-image: url('../resources/Banner\ Image.png');
    max-width: 1320px;
    max-height: 600px;
    border-radius: 16px;
    padding: 10px 36px 24px 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.hny {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.off {
    color: rgba(255, 0, 0, 1);
    text-align: center;
    margin: 120px 469px 48px 468px;
    font-size: 65px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.holiday {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.cate {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.night-party {
    background-image: url('../resources/Vectorrr.png');
    max-width: 1320px;
    max-height: 600px;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    /* filter: contrast(150%) brightness(50%); */
}
.overlap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wnp {
    padding: 0px 0 24px 126px;
    font-size: 64px;
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.contain {
    max-width: 697px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0px 0 15px 126px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.button {
    padding: 0px 0 70px 180px;
}
#join {
    border: none;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase
}
.year2024 {
    padding: 50px 30px 50px 0;
}
.address {
    margin:120px 10px;
    border-radius: 16px;
    text-align: center;
    padding: 20px 386px 214px 385px;
    background-color: rgba(255, 0, 0, 0.10);
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.orange {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.all-address{
    padding: 0;
}
.orange-button {
    background-color: rgba(255, 0, 0, 1);
    border-radius: 8px;
    display: inline-flex;
    padding: 16px 32px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.new-best-offer {
    color: #FF0000;
    font-size: 16px;
    font-weight: 500;
}
.coming-soon {
    font-size: 48px;
    margin: 0;
    font-weight: 600;
}
.offer-details {
    color: #07021199;
    font-size: 16px;
}
.best-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.section-container1 {
    width: 378px;
}
.section-container2 {
    border: 15px solid #FF0000;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
#round-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-container3 {
    width: 276px;
}
.year-2024 {
    color: #F00;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-weight: 700;
}
.year-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.holiday-sale {
    margin: 120px 10px;
    text-align: center;
    justify-content: center;
    gap: 50px;
    border-radius: 16px;
}
.holiday-container {
    transform: translate(0%, -45%);
}
.upper-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.img-gp1 {
    width: 670px;
    height: 570px;
    margin-left: 90px;
    transform: translate(-10%, 84%);
}
.img-gp {
    width: 400px;
    height: 410px;
    transform: translate(0%, 115%);
    margin-right: 92px;
}
.discount-img{
    transform: translate(50%, -0%);
}
.base-content {
    display: flex;
    justify-content: center;
}
.base-gp {
    width: 1320px;
    height: 190px;
}
.functional {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.hs50{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.red-color-holiday {
    color: #F00;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.function-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.holiday-photos {
    display: flex;
}
.gifts {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.portfolio-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.portfolio {
    max-height: 7335px;
    align-items: center;
    justify-content: center;
}
.portfolio-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}
.portfolio-b1-photos {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.subscribe {
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px 140px;
    text-align: center;
}
.subscribe-image {
    max-width: 150px;
    max-height: 150px;
    margin-top: 80px;
    flex-shrink: 0;
}
.newsletter {
    margin-top: 40px;
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.subs-content {
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
main input {
    box-sizing: 50px;
    font-size: 20px;
}
.button-box1 {
    border-radius: 50px;
    background: #FFF;
}
.button-box2 {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
.sub-but {
    color: #FFF;
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 24px 56px;
    font-weight: 600;
    text-transform: capitalize;
}
.subs-button {
    align-items: center;
    justify-content: center;
    display: flex;
}
.placeH {
    width: 400px;
    height: 65px;
    border-radius: 50px 0px 0px 50px;
}
.button-box1, .button-box2, .orange-button, #join, .sub-but {
    cursor: pointer;
}
.footer {
    background-color: #070211;
    flex-shrink: 0;
}
.final-address {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin: 10px 0px 0px 0px;
    padding: 0 100px 0 0;
}
.contact-numbers {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.in-same-line, .social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.security {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rights, .unsubscribe {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.rights {
    text-align: left;
    padding: 0 700px 0 0;
}
.unsubscribe {
    text-align: right;
}
.line {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);;
}
.portfolio-b1-photos {
    transition: transform 0.3s ease;
}
.portfolio-b1-photos:hover {
    transform: scale(1.1);
}